<%= form_with  model:[ @post ,  @post.comments.build ], remote: true do |form| %>

  <p>
    <%= form.text_area :body , class: 'text' , placeholder: 'Add a Comment ...', required: true%>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
