<h3>Update Comment</h3>
<%= form_with  model: [@post, @comment], url: post_comment_path(@post, @comment) do |form| %>

  <p>
    <%= form.text_area :body , class: 'text' , placeholder: 'Add a Comment ...', required: true %>
  </p>

  <p>
    <%= form.submit  %>
  </p>

<% end %>

