<p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'like' : 'likes' %>
</p>

<% if pre_like %>
<%= button_to 'Unlike' , post_like_path(post, pre_like) , method: :delete , remote: true%>
<% else %>
<%= button_to 'like' , post_likes_path(post) ,method: :post, remote: true %>
<% end %>
