<%= render 'stories/story' , story: @story%>
<% @posts.each do |post|%>
  <%= link_to post_path(post) do%>
    <div class="post-container postData-container ">
      <%= render 'posts/post' , post: post%>
    </div>
  <%end%>
<%end%>
