<h1>New Story</h1>

<%= form_with model: @story, local: true do |f| %>


<div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image , accept:'image/*', :required => true %>
  </div>

<div class="actions">
    <%= f.submit  %>
  </div>
<%end%>
